@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-slate-100;

  overscroll-behavior: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
